/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  color: #F9F7F7;
  background-color: rgba(39,41,43,1);
  font-family: 'Noto Sans Japanese', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #F9F7F7; }
a:hover   { color: #F9F7F7; }
a:visited { color: #F9F7F7; }

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

a:link, a:visited {
  text-decoration: none;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

paper-card {
  width: 100%;
  margin-bottom: 16px;
  background-color: rgba(144,144,144,0.5);
  --paper-card-header: {
    padding-left: 20px;
  };
  --paper-card-header-text: {
    color: #BBBCBC;
    font-size: 12px;
    text-transform: uppercase;
  };
  --paper-card-content: {
    font-size: 22px;
    padding: 0px 60px 10px 60px;
  };
}
paper-card .post_content {
  font-size: 16px;
}

paper-toolbar.tall {
  background-color: transparent;
  margin-right: 60px;
}
paper-toolbar.tall .middle{
  top: 18px;
}
paper-toolbar.tall .link{
  font-size: 18px;
  margin-left: 15px;
}
paper-toolbar.tall .title {
  font-size: 16px;
  margin-left: 60px;
}

.icons {
  margin-left: 10px;
}

.episode-list {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.site-logo {
  max-width: 250px;
  width: 100%;
}

.subtitle {
  margin-top: -10px;
  font-size: 14px;
}

.content {
  background-attachment: fixed;
  background-image: url(images/bg_page.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
